{{>navUsuario titulo = 'Acolite - Cliente'}}
<body>
    <div class="grid-container">
        <div class="item1">
            <h2 id="nombre__usuario">Panel de cliente
                <span class="nombre__sos"> {{datos.nombre1}} {{datos.apellido1}} </span>
                <!--   <a href="#" class="marcado__off"><span class="nombre__sos">Completa tu registro!</span></a> -->
            </h2>
        </div>
        <div class="item2">
            <h3>menú - dashboard</h3>
            <div class="manu__dashboard">
                <ul>
                    <li><a href="/dashboard/perfil/{{datos.id_usuario}}/{{datos.usuario_nombre}}">Dashboard</a></li>
                    <li><a href="#">Top 10 mecánicos</a></li>
                    <li><a href="#">Top 10 talleres</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="/logout/{{datos.id_session}}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        <div class="item3">
            <h3>Datos del cliente</h3>
            {{#if registrarCliente}}
            <h4>registrar cliente</h4>
            <form action="/dashboard/cliente-vehiculo/registrar-cliente" method="post">
                <input type="hidden" name="id_session" value="{{datos.id_session}}">
                <input type="submit" value="Nuevo Cliente">
            </form>
            {{else}}
            <table>
                <caption>Información básica</caption>
                <tr>
                    <th>Nombres:</th>
                    <td>{{datos.nombre1}} {{datos.nombre2}}</td>
                    <th>Apellidos:</th>
                    <td>{{datos.apellido1}} {{datos.apellido2}}</td>
                </tr>
                <tr>
                    <th>Tipo de identificación:</th>
                    <td>{{datos.nombre}}</td>
                    <th>Identificacion:</th>
                    <td>{{datos.identificacion}}</td>
                </tr>
                <tr>
                    <th>Contacto:</th>
                    <td>{{datos.contacto}}</td>
                    <th>Estado de cliente:</th>
                    {{#if datosCliente.estado}}
                    <td>Activo</td>
                    {{else}}
                    <td>Inactivo</td>
                    {{/if}}
                </tr>

                 <tr>
                    <th>Fecha de creación:</th>
                    <td>{{fecha_creacion}}</td>
                    <th>Última modificación:</th>
                    <td>{{fecha_modificacion}}</td>
                </tr>

            </table>
            {{/if}}
        </div>
        <div class="item4">
            <h3>Mecánicos activos</h3>    
        </div>
        <div class="item5"><h3>Mis vehiculos</h3></div>
    </div>
</body>

{{>footerUsuario}}