{{>navUsuario titulo = 'Acolite - Dashboard'}}
{{#if datos.estado_conexion}}

<link rel="stylesheet" href="css/pantalladecarga.css">

<!-- Modal -->



    <div id="miModal" class="modal">
		<div class="flex" id="flex">
			<div class="contenido-modal">
				<div class="modal-header flex">
					<h2>¡Exito!</h2>
				</div>
				<div class="modal-body">
					<p>Loggeo exitoso</p>
				</div>
				<div class="footer">
					<h3>Acolite S.O.S &copy;</h3>
				</div>
			</div>
		</div>
	</div>

<script>
    
        window.onload = function(){
            modal.style.display = 'block';
            i= setTimeout(function(){
            modal.style.display = 'none';
            }, 3000);
        
        };


        window.onload('click', function(e){
            console.log(e.target);
            if(e.target == flex){
                modal.style.display = 'none';
            }
        });
    
</script>
    <!-- Resto de la página-->

    <div class="grid-container container__dashboard" id="abrir">
        <div class="item2">
            <div class="navigation">
                <ul>
                    <li class="navigation__tex__menu">
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="ios-car-outline"></ion-icon>
                            </span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="#">
                            <span class="icon">
                                </ion-icon>
                                <ion-icon name="earth-outline"></ion-icon>
                            </span>
                            <span class="title">Top 10 mecanicos</span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="build-outline"></ion-icon>
                            </span>
                            <span class="title">Top 10 Talleres</span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="/dashboard/cliente-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}">
                            <span class="icon">
                                <ion-icon name="people-circle-outline"></ion-icon>
                            </span>
                            <span class="title">Panel de Clientes</span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="/dashboard/empleado/{{datos.id_session}}/{{datos.usuario_nombre}}">
                            <span class="icon">
                                <ion-icon name="storefront-outline"></ion-icon>
                            </span>
                            <span class="title">Panel de mecánicos</span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="/dashboard/perfil-usuario/{{datos.id_session}}/{{datos.usuario_nombre}}">
                            <span class="icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </span>
                            <span class="title">Configuración</span>
                        </a>
                    </li>
                    <li class="navigation__tex__menu">
                        <a href="/logout/{{datos.id_session}}">
                            <span class="icon">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </span>
                            <span class="title">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="item1">
                    <h2 id="nombre__usuario">Bienvenido
                        <span class="nombre__sos"> {{datos.nombre1}} {{datos.apellido1}}</span>
                        <!--   <a href="#" class="marcado__off"><span class="nombre__sos">Completa tu registro!</span></a> -->
                    </h2>
                </div>
            </div>

            <div class="cuerpo-info">

                <div class="columna_izquierda">

                    <div class="card">
                        <img src="/img/mechanic.jpg" alt="Avatar" style="width:70%" class="img__card">
                        <div class="container_card">
                            <button class="button__card button1">Registra aqui</button>
                            <br>
                            <button class="button__card button2">Blue</button>
                        </div>
                    </div>


                </div>


            </div>

        </div>

    </div>



</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    //menu toggle
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");
    toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    };
    //agregar hovered en items
    let list = document.querySelectorAll(".navigation li");
    function activeLink() {
        list.forEach((item) => item.classList.remove("hovered"));
        this.classList.add("hovered");
    }
    list.forEach((item) => item.addEventListener("mouseover", activeLink));
</script>

<script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
<script type="text/javascript" src="/javascript/script.js"></script>

<script src="javascript/home.js"></script>
<script src="javascript/volverarriba.js"></script>
<script src="javascript/animaciones.js"></script>
<script src="../../../javascript/pantallacarga.js"></script>

{{else}}


    <h2>Error: debes iniciar sessión</h2>

{{/if}}