
{{>navUsuario titulo = 'Acolite - Dashboard'}}
{{#if datos.estado_conexion}}

<body>
    <div class="grid-container">
        <div class="item1">
            <h2 id="nombre__usuario">Bienvenido          
                <span class="nombre__sos"> {{datos.nombre1}} {{datos.apellido2}}</span>       
             <!--   <a href="#" class="marcado__off"><span class="nombre__sos">Completa tu registro!</span></a> -->   
            </h2>
        </div>
        <div class="item2">
            <h3>menú - dashboard</h3>
            <div class="manu__dashboard">
                <ul>
                    <li><a href="/dashboard/perfil-usuario/{{datos.id_session}}/{{datos.usuario_nombre}}">Perfil</a></li>
                    <li><a href="#">Top 10 mecánicos</a></li>
                    <li><a href="#">Top 10 talleres</a></li>
                    <li><a href="/dashboard/cliente-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}">Panel de cliente</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="/logout/{{datos.id_session}}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        <div class="item3">
            <h3>Mis vehículos</h3>
            {{#if vehiculos}}
            <h3>Mostrar hehiculos!</h3>
            {{else}}
            <h3>No tienes vehículos!</h3>
            <a href="/dashboard/cliente-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}">Registra uno aquí</a>
            {{/if}}
        </div>
        <div class="item4">
            <h3>Últimos pedidos</h3>
            {{#if pedidos}}
            <h3>Muesta 5 útimos pedidos!</h3>
            {{else}}
            <h3>Ups! no tienes pedidos</h3>
            <a href="#">Nuevo pedido</a>
            {{/if}}
        </div>
        <div class="item5">Footer</div>
    </div>
</body>
{{else}}
<body>
    <h2>Error: debes iniciar sessión</h2>
</body>
{{/if}}
{{>footerUsuario}}