<!-- contenedor de los items  -->

<div class="">

    <table class="table__vehiculos">

        <tr>
            <td>
                <ul class='ch-grid'>

                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/auto.jpg" />
                            <div class='ch-info-wrap'>

                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>

                                    <div class='ch-info-back'>
                                           <h3>Automovil</h3>
                                     <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="camion">

                                            <input type="submit" class="input">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class='ch-grid'>
                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/moto.jpg" />
                            <div class='ch-info-wrap'>
                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>
                                    <div class='ch-info-back'>
                                        <h3>Motos</h3>
                                        <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="moto">

                                            <input type="submit" class="input">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class='ch-grid'>
                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/camion.jpg" />
                            <div class='ch-info-wrap'>
                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>
                                    <div class='ch-info-back'>
                                        <h3>Camiones</h3>
                                        <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="camion">

                                            <input type="submit" class="input">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class='ch-grid'>
                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/bus.jpg" />
                            <div class='ch-info-wrap'>
                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>
                                    <div class='ch-info-back'>
                                        <h3>Buses</h3>
                                        <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="bus">
                                         
                                            <input type="submit" class="input">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class='ch-grid'>
                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/trailer.jpg" />
                            <div class='ch-info-wrap'>
                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>
                                    <div class='ch-info-back'>
                                        <h3>Trailers</h3>
                                        <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="trailer">
                                  
                                            <input type="submit" class="input">
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class='ch-grid'>
                    <li>
                        <div class='ch-item ch-img-1'>
                            <img class="circular--portrait" src="/img/bike.jpg" />
                            <div class='ch-info-wrap'>
                                <div class='ch-info'>
                                    <div class='ch-info-front ch-img-1'></div>
                                    <div class='ch-info-back'>
                                        <h3>Bicicletas</h3>
                                        <form
                                            action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}"
                                            method="post">
                                            <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
                                            <input type="hidden" name="tipoVehiculo" value="bus">

                                            <input type="submit" class="input">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
