<!-- contenedor de los items  -->

<div class="item__vehiculo">

    <h3>Autos</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="auto">
        <input type="submit">
    </form>
</div>
<div class="item__vehiculo">

    <h3>Motos</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="moto">
        <input type="submit">
    </form>

</div>

<div class="item__vehiculo">

    <h3>Camiones</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="camion">
        <input type="submit">
    </form>

</div>
<div class="item__vehiculo">

    <h3>Buses</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="bus">
        <input type="submit">
    </form>

</div>
<div class="item__vehiculo">

    <h3>Trailers</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="trailer">
        <input type="submit">
    </form>

</div>
<div class="item__vehiculo">

    <h3>Bicicletas</h3>
    <form action="/dashboard/registrar-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}" method="post">
        <input type="hidden" name="session" value="{{datosCliente.id_cliente}}">
        <input type="hidden" name="tipoVehiculo" value="bicicleta">
        <input type="submit">
    </form>

</div>